<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :wifi %><br>
    <%= f.text_field :wifi %>
  </div>
  <div class="field">
    <%= f.label :live_music %><br>
    <%= f.text_field :live_music %>
  </div>
  <div class="field">
    <%= f.label :pet_friendly %><br>
    <%= f.text_field :pet_friendly %>
  </div>
  <div class="field">
    <%= f.label :dining %><br>
    <%= f.text_field :dining %>
  </div>
  <div class="field">
    <%= f.label :outdoor_seating  %><br>
    <%= f.text_field :outdoor_seating %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :food_trucks %><br>
    <%= f.text_field :food_trucks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
