<h1 style="font-family:Shrikhand" align='center'> You Look Like You Could Use a Drink</h1>
<br>
<div class='jumbotron text-center'>
  <h2 style="font-family:Raleway">Filter Charlotte Breweries</h2>
    <div class="btn-group" role="group" aria-label="People Groups">
        <%= link_to 'All', breweries_path, class: "btn btn-default" %>
        <%= link_to "Nearby", breweries_path, class: "btn btn-default" %>
        <%= link_to "By Rating", breweries_path, class: "btn btn-default" %>
        <%= link_to "I Can't Decide", breweries_path, class: "btn btn-default" %>
    </div>
</div>
<br>
<div class="index">
   <% @breweries.each do |brewery| %>
   <div class="col-md-4">
       <div class="well center-it" style="background-color:#EEEEEE">
           <p><%= image_tag brewery.image.url, width: '100%' %></p>
           <h3><%= link_to brewery.name, brewery, style:"font-family:Raleway" %></h3>
       </div>
   </div>
   
   <% end %>
</div>
