<div class="nachos">
  <div class="cheese">
    <div id="centerme">
    <h1 align="center"> You Look Like You Could Use a Drink</h1>
    </div>
  </div>

<div class='jumbotron text-center'>
  <h2 style="font-family:Raleway">Filter Charlotte Breweries</h2>
    <div class="btn-group" role="group" aria-label="People Groups">
        <div class="raleway">
        <%= link_to 'All', breweries_path, class: "btn btn-default" %>
        <%= link_to "Nearby", filter_breweries_nearby_path, class: "btn btn-default" %>
        <%= link_to "By Rating", breweries_path, class: "btn btn-default" %>
        <%= link_to "I Just Need a Damn Beer", '/breweries/9', class: "btn btn-default" %>
        </div>
    </div>
</div>
<br>
<div class="index">
   <% @breweries.each do |brewery| %>
   <div class="col-md-4">
       <div class="well center-it" style="background-color:#EEEEEE">
           <p><%= image_tag brewery.image.url, height: '200px' %></p>
           <h3><%= link_to brewery.name, brewery, style:"font-family:Raleway" %></h3>
           <h6> <%= brewery.neighborhood %> </h6>
           <h6> Rating: <%= brewery.rating %></h6>
       </div>
   </div>
   
   <% end %>
</div>
</div>
