<!DOCTYPE html>
<html>
<head>
  <title>Charlotte Breweries</title>
  <%= stylesheet_link_tag    'application' %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  %>
  <%= favicon_link_tag 'favicon.ico' %>
    


<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>



<%= render 'layouts/header' %>
<%= yield %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDna1eF04anDlo84QIVzRls1o9syyYSpuA"></script>

<script type="text/javascript">
	var mapOptions = {
	  zoom: 13,
	  center: new google.maps.LatLng(51.5,-0.11)
	}

	var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

	var transitLayer = new google.maps.TransitLayer();
	transitLayer.setMap(map);
	</script>
	
</body>
</html>
